    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Зачем бегать?</h2>
                <p>Бег предоставляет хорошие условия в качестве аэробной тренировки, которая увеличивает порог выносливости, положительно влияет на сердечно-сосудистую систему, повышает обмен веществ в организме и, таким образом, помогает осуществлять контроль за весом тела. Бег позитивно влияет на иммунную систему и улучшает тонус кожи. Укрепление мускулатуры ног и улучшение обмена веществ помогает предотвратить и устранить целлюлит.</p>
                <p>Бег позволяет наладить ритмическую работу эндокринной и нервной систем. Во время бега, когда человек постоянно преодолевает земную гравитацию, подскакивая и опускаясь в вертикальном положении, кровоток в сосудах входит в резонанс с бегом, при этом активизируются ранее не задействованные капилляры. Микроциркуляция крови активизирует деятельность органов внутренней секреции. Поток гормонов возрастает и способствует координированию деятельности других органов и систем организма.</a></p>
            </div>
        </div>
    </section>