    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>История</h2>
                    <p>Первые олимпийские состязания, проходившие до н. э. , проводились только по бегу. По преданию первые олимпийские игры были организованы Гераклом в 1210 до н. э. С 776 г. до н. э. велись записи об играх олимпиад, которые проводились только по бегу на один стадий (192 м). В 724 до н. э. добавились состязания на две стадии. В 720 до н. э. добавлен бег на семь стадий и в пример победителю атлеты стали соревноваться обнажёнными. Этому способствовала культура общества, превозносившая загорелые атлетические тела. На игры не допускались женщины в детородном возрасте, в беге состязались только мужчины.</p>
                </div>
            </div>
        </div>
    </section>